@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap");

body {
  background-color: black;
}

* {
  font-family: "Noto Sans KR", sans-serif;
  list-style: none;
  text-decoration: none;
  border-collapse: collapse;
  color: #fff;
  margin: 0px;
  padding: 0px;
  border: 10px;
}

.title {
  color: #fff;
}

.sabun_bg {
  background-image: url("");
  width: auto;
  height: 300px;
}

.header {
  width: 1280px;
  margin: auto;
  display: flex;
  height: 86px;
  color: #fff;
}

.sabunbet {
  width: 300px;
  color: #fff;
  height: 200px;
  border-radius: 5px;
  margin-top: 75px;
  font-size: 40px;
  font-weight: bolder;
  font-weight: 1000;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}

.sabunbet a {
  color: #fff !important;
  font-weight: bold !important;
  text-decoration: none !important;
}

.sign {
  top: 10px;
  right: 300px;
  position: absolute;
  border: 10px;
  margin: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
  margin-left: 30px;
}

.sign a {
  color: cyan !important;
  font-weight: bold !important;
  text-decoration: none !important;
}

.signup {
  top: 10px;
  right: 200px;
  position: absolute;
  border: 10px;
  margin: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  margin-left: 30px;
}

.signup a {
  color: cyan !important;
  font-weight: bold !important;
  text-decoration: none !important;
}

.nav {
  display: flex;
  justify-content: flex-end;
  line-height: 200px;
  width: calc(1280px - 300px);
  color: white;
  font-family: "Noto Sans KR", sans-serif;
}

.nav li {
  margin-left: 84px;
}
.nav li a {
  color: white;
}

li {
  display: list-item;
  unicode-bidi: isolate;
}

a:-webkit-any-link {
  color: -webkit-link;
  cursor: pointer;
}

.container {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.border-box {
  border: 2px solid #ccc;
  box-sizing: border-box;
  flex-wrap: wrap;
  border-radius: 5px;
  padding: 5px 30px;
  width: 30%;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 10px 0;
  height: 500px;
  box-sizing: border-box; /* 테두리와 패딩을 포함한 크기 */
}

.border-box h3 {
  margin-top: 0;
  text-align: center;
  padding-bottom: 20px;
  padding-top: 10px;
}

.border-box ul {
  list-style-type: none;
  padding: 0;
}

.border-box li {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #999;
  border-radius: 3px;
  height: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.border-box a {
  color: cyan;
  text-decoration: none;
}
